#quote{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* before KanyeGif */
    /* min-height: 100vh; */
    font-size: 30px;
    color:black;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:80vh;
   
    
}


p {
    padding-left:25px;
    padding-right: 25px;
   
}
img {
    align-items: center;
}
body {
    background-color: skyblue;
    background-image: url('kanyeGIf.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative ;/* Declared position allows for location changes */
    top: -23px;
}  
h1 {
    text-align: center;
   
        margin-bottom: 0;
        color: black;
        font-weight:lighter;
        
}
/* @media only screen and (max-width: 600px) {

    p{
        font-size: 25px;
    }
} */