#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    width: 80%; /* set a specific width to the element */
    max-width: 600px; /* set a maximum width to the element */
    margin: 0 auto; /* center the element horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding-top: 0px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 0;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px; /* Add some space between the h1 and the next element */
    color: wheat; /* Use a more professional color */
    font-weight: 700; /* Use a heavier font-weight */
    font-family: 'Montserrat', sans-serif; /* Use a professional font-family */
    text-transform: uppercase; /* Make the text uppercase */
    letter-spacing: 3px; /* Add some letter-spacing for emphasis */
}

